{% extends 'base.html' %} 
{% block title %} Home {% endblock title %} 
{% block homeactive %} active {% endblock homeactive %} 
{% block body %}
<div class="container my-4">
  <div class="jumbotron" style="box-shadow: -5px -5px 15px #ffffff25, 3px 3px 15px #00000090; border-radius: 5px;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
{% comment %} <div class="container my-4">
  {% for post in allPost %}
  <div class="bg-light my-2" style="box-shadow: -5px -5px 15px #16a9d6, 3px 3px 15px #00000090; border-radius: 5px;">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Blog By {{post.author}}</strong>
        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-muted">{{post.timeStamp}}</div>
        <p class="card-text mb-auto">{{post.content | truncatechars:200}}
        </p>
        <div class="mt-2">
        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div> {% endcomment %}

{% endblock %}
