{% extends 'base.html' %}


{% block title %} Search Results {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}


{% block body %}
<div class="container my-4">
  <h2>Search Results</h2>
  {% if allPost|length < 1 %}
  <p>Your Search <b>{{query|slice:50}}...</b> did not match any blogs. Please Try Different keywords.</p>
  <p>Suggestions :</p>
  <ul>
  <li>Try Different keywords.</li>
  </ul>
  {% endif %}
  {% comment %} {% if big_query_size %}
  <p>Your Search <b>{{query}}</b> did not match any blogs. Please Try Different keywords.</p>
  <p>Suggestions :</p>
  <ul>
  <li>Make sure that all words are spelled correctly.</li>
  <li>Try Different keywords.</li>
  <li>Try more general keywords.</li>
  <li>Try fewer keywords.</li>
  </ul>
  {% endif %} {% endcomment %}
  {% for post in allPost %}
  <div class="bg-light my-2" style="box-shadow: -5px -5px 15px #16a9d6, 3px 3px 15px #00000090; border-radius: 5px;">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Blog By {{post.author}}</strong>
        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-muted">{{post.timeStamp}}</div>
        <p class="card-text mb-auto">{{post.content | truncatechars:200}}
        </p>
        <div class="mt-2">
        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}